{% extends 'base.html' %}

{% block content %}
<div class='container'>
 <h2 class="text-center">Acerca de OnlyFlans</h2>
    <p>
        OnlyFlans es tu destino para explorar una amplia variedad de deliciosos flanes. 
        Desde los clásicos flanes de vainilla hasta los más creativos y exóticos, 
        estamos aquí para satisfacer tus antojos de flan. 
        Nuestro equipo se esfuerza por ofrecerte las mejores recetas, consejos y trucos 
        para que puedas preparar flanes increíbles en la comodidad de tu hogar. 
        ¡Únete a nuestra comunidad y comparte tu amor por los flanes con nosotros!
    </p>  
</div>
{% endblock %}

